<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminpage.css') }}">
</head>


<body>
<div id="grid">

    <div id="colored_body">
    <h1 id="intro">Hello this is the admin page</h1><br>

    <h2 id="instruction">To sell your tour, you must enter details for your tour first:</h2>
    <form action="/create_a_tour" method="POST" id="form_create_tour_input">

        <input type="text" name="Title" placeholder="Title" class="input_styling">
        <input type="text" name="Description" placeholder="Description" class="input_styling">
        <input type="text" name="Country" placeholder="Country" class="input_styling">
        <input type="text" name="Location" placeholder="Location" class="input_styling">
        <input type="date" name="Date" class="input_styling">
        <button type="submit" class="tour_button_styling">Create a tour</button>
    </form>

    <form action="/checkbox_tour" method="POST" id="available_tours">
        <ul>
            {% for tour in list_of_tours%}
            <li>
                <input type="checkbox" name="checkbox_row" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="handle_action" value="delete" class="checkbox_button_styling">Delete</button>
        <button type="submit" name="handle_action" value="buy" class="checkbox_button_styling">Buy tour</button>
        <button type="submit" name="handle_action" value="favorite" class="checkbox_button_styling">Favorite tour</button>
        <button type="submit" name="handle_action" value="admin" class="checkbox_button_styling">Go to admin page</button>
        <button type="submit" name="handle_action" value="users" class="checkbox_button_styling">See users</button> <br>
    </form> <br>


    <h2>Bought tours:</h2>
    <form action="/remove_bought_tour" method="POST" id="bought_tours">
        <ul>
            {% for tour in list_of_bought_tours %}
            <li>
                <input type="checkbox" name="checkbox_bought_tour" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="handle_action" value="delete" class="checkbox_button_styling">Remove tour</button>
        <!-- <button type="submit" name="handle_action" value="remove">Remove</button> -->
    </form>
    </div>


    <h1>List of Existing Users</h1>
    <form id="userlist">
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
    </form>


    <ul>

    </ul>


    <!-- Logut knappen bare sender en tilbake til index-siden uten noen form for logutfunksjonalitet. -->
    <div id="sidebar">
        <a href="{{ url_for('favorites') }}">Favorites</a> <br>
        <a href="{{ url_for('index') }}">Logout</a>
    </div>

</div>
</body>

</html>