<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<body>
    <h1>Homepage</h1><br>
    {% if is_admin %}
    <p style="color: red;">Admin Only Button</p>
    {% endif %}

    <a href="{{ url_for('favorites') }}">Favorites</a> <br>
    <a href="{{ url_for('who_bought') }}">My created tours</a> <br>
    <a href="{{ url_for('support_senter') }}">Supportsenter</a> <br>
    <a href="{{ url_for('index') }}">Logout</a> <br>

    <h2>Here are a list of the available tours. You can create, buy, delete or favorite tours.</h2>
    <form action="/create_a_tour" , method="POST">

        <input type="text" , name="Title" , placeholder="Title">
        <input type="text" , name="Description" , placeholder="Description">
        <input type="text" , name="Country" , placeholder="Country">
        <input type="text" , name="Location" , placeholder="Location">
        <input type="date" , name="Date">
        <button type="submit">Create a tour</button>
    </form>

    <form action="/checkbox_tour" method="POST">
        <ul>
            {% for tour in list_of_tours%}
            <li>
                <input type="checkbox" name="checkbox_row" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <h3>After you have selected preferred tour(s), choose a payment method and proceed to checkout:</h3>
        <select id="dropdown">
            <option value="valg1">Card</option>
            <option value="valg2">Vipps</option>
        </select>
        <button style="color: green;" type="submit" name="handle_action" value="buy">Buy tour</button>
        <br>
        <br>
        <button style="color: #8B0000;" type="submit" name="handle_action" value="delete">Delete</button>
        <button  style="color: #e75480;" type="submit" name="handle_action" value="favorite">Favorite tour</button> <br>
    </form> <br>
    <br>
    <hr />
    <h2>Your bought tours:</h2>
    <form action="/remove_bought_tour" method="POST">
        <ul>
            {% for tour in list_of_bought_tours %}
            <li>
                <input type="checkbox" name="checkbox_bought_tour" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <h3>Unable to attend a tour? Select the tour you wish to cancel and click the 'Cancel Tour' button:</h3>
        <button style="color: #8B0000;" type="submit" name="handle_action" value="delete">Cancel Tour</button>
        <!-- <button type="submit" name="handle_action" value="remove">Remove</button> -->
    </form>

</body>

</html>