<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>This is the Homepage</h1>
    <a href="adminpanel.html">
        <p>Go to adminpanel</p>
    </a>
    <a href="index.html">
        <p>Logout</p>
    </a>
    <a href="index.html">
        <p>Add tour</p>
    </a>
    <a href="index.html">
        <p>Remove tour</p>
    </a>
    <a href="index.html">
        <p>Sign up for tour</p>
    </a>



</body>

</html>