<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<body>
    <h1>Hello this is the homepage</h1><br>
    {% if is_admin %}
    <p>Admin Only Button</p>
    {% endif %}

    <h2>To sell your tour, you must enter details for your tour first:</h2>
    <form action="/create_a_tour" , method="POST">

        <input type="text" , name="Title" , placeholder="Title">
        <input type="text" , name="Description" , placeholder="Description">
        <input type="text" , name="Country" , placeholder="Country">
        <input type="text" , name="Location" , placeholder="Location">
        <input type="date" , name="Date">
        <button type="submit">Create a tour</button>
    </form>

    <form action="/checkbox_tour" method="POST">
        <ul>
            {% for tour in list_of_tours%}
            <li>
                <input type="checkbox" name="checkbox_row" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="handle_action" value="delete">Delete</button>
        <button type="submit" name="handle_action" value="buy">Buy tour</button>
        <button type="submit" name="handle_action" value="favorite">Favorite tour</button> <br>
    </form> <br>


    <!-- Logut knappen bare sender en tilbake til index-siden uten noen form for logutfunksjonalitet. -->
    <a href="{{ url_for('favorites') }}">Favorites</a> <br>
    <a href="{{ url_for('index') }}">Logout</a>

    <h2>Bought tours:</h2>
    <form action="/remove_bought_tour" method="POST">
        <ul>
            {% for tour in list_of_bought_tours %}
            <li>
                <input type="checkbox" name="checkbox_bought_tour" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="handle_action" value="delete">Remove tour</button>
        <!-- <button type="submit" name="handle_action" value="remove">Remove</button> -->
    </form>
    <a href="{{ url_for('index') }}">Logout</a> <br>
    <!-- Logut knappen bare sender en tilbake til index-siden uten noen form for logutfunksjonalitet. -->


</body>

</html>