<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="delay_time; URL=new_website_url" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <style>
        body{justify-content: center;}
    </style>
</head>

<body>
    <h1>
        Explore the greatest collection of experiencenses
    </h1>

    <p>Login with username and password:</p>
    <form method="POST">
        <label for="name">Username: </label>
        <input type="text" id="name" name="name" placeholder="Enter username" />

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="Enter password" />

        <button type="submit" name="submit">Login</button>
        <p>Must contain 1-13 characters!</p>
    </form>
    <br />
    <hr />
    <p>Testbruker: bruker</p>
    <p>Passord: bruker</p>
    <br />
    <p>Testbruker (admin): admin</p>
    <p>Passord: admin</p>
    <hr />

    <br />
    <!-- Under var en knapp for å hopper over login-prosessen. men bruker den ikke lenger. -->
    <!-- <a href="{{ url_for('homepage') }}">Skip login prosess link</a> -->

    <br />
    <p>
        Dont have an account?
    </p>
    <!-- under, er måten vi navigerer oss fra side til side -->
    <a href="{{ url_for('registrer_page') }}">Registrer her:</a>

</body>

</html>