<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="delay_time; URL=new_website_url" />
    <title>Login Page</title>
</head>

<body>
    <h1>
        explore the greatest collection of experiencenses
    </h1>
    <p>Enter your username and password:</p>
    <input type="name" , name="username" , placeholder="Username">
    <input type="password" , name="password" , placeholder="Password">
    <a href="homepage.html">
        <input type="submit" , name="submit" , placeholder="Login">
    </a>

    <input type="checkbox" id="admin_login_id" name="admin_login" value="checkbox_value">
    <label for="admin_login_id"> Login as Admin?</label><br>
    <p>
        Dont have an acount? Registrer her:
    </p>
    <input type="name" , name="registrer_username" , placeholder="New username">
    <input type="password" , name="registrer_password" , placeholder="New password">
    <input type="submit" , name="Registrer" , placeholder="Login">
</body>

</html>