<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My created tours</title>
</head>
<body>
    <h1>
        My created tours:
    </h1>

    <form action="/remove_my_created_tours" method="POST">
        <ul>
            {% for tour in list_my_bought_tours%}
            <li>
                <input type="checkbox" name="checkbox_who_bought" value="{{ tour[0] }}">
                <strong>Title:</strong> {{ tour[1] }}
                <strong>Description:</strong> {{ tour[2] }}
                <strong>Country:</strong> {{ tour[3] }}
                <strong>Location:</strong> {{ tour[4] }}
                <strong>Date:</strong> {{ tour[5] }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="handle_action" value="delete" class="checkbox_button_styling">Delete</button>
    </form>
        <br />
    <a href="{{ url_for('homepage') }}">Back to homepage</a>
</body>
</html>