<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer</title>
</head>

<body>
    <form method="POST">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter username" />
        </div>
        <div class="form-group">
            <label for="username">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
        </div>
        <input type="checkbox" id="admin_login" name="admin_login" value="True" style="margin-top: 15px;">
        <label for="admin_login"> Registrer account as an Admin account?</label><br>
        <br />
        <button type="submit" class="">Submit</button>
    </form>
    <a href="{{ url_for('index') }}">Go back to loginpage</a> <br>
</body>

</html>