<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registrer.css') }}">
</head>

<body>

    <div class="register_grid">
    <form method="POST" class="form_placement">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="input_styling" id="name" name="name" placeholder="Enter username" />
        </div>
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="input_styling" id="password" name="password" placeholder="Enter password" />
        </div>
        <div class="register_margin">
        <input type="checkbox" class="checkbox" id="admin_login" name="admin_login" value="True">
        <label for="admin_login"> Registrer account as an Admin account?</label>
        </div>
        <button type="submit" class="submit_user">Submit</button>
        <a href="{{ url_for('index') }}" class="login">Go back to login page</a> <br>
    </form>


    </div>
</body>

</html>