<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support senter</title>
</head>
<body>
    <h1>Do you have any questions? Contact us at:</h1>
    <p>Phonenumber: 69 60 80 00</p>
    <p>Email: postmottak@hiof.no</p>

    <a href="{{ url_for('homepage') }}">Back to homepage</a>
</body>
</html>