<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User test</title>
</head>
<body>
    <h1>List of Existing Users</h1>
    <form id="userlist" action="/remove_user" method="POST">
        <ul>
            {% for user in users %}
            <li>
                <input type="checkbox" name="checkbox_userlist" value="{{ user[0] }}">
                <strong>User: </strong> {{ user[1] }}
            </li>
            {% endfor %}
        </ul>
        <button name="handle_action" value="delete" class="checkbox_user_button_styling">Delete user</button>
    </form>


    <h2>Admin Logs</h2>
    <ul>
        {% for log_entry in logs %}
            <li>{{ log_entry }}</li>
        {% endfor %}
    </ul>


    <a href="{{ url_for('homepage') }}">Back to homepage</a>
    {% if is_admin %}
    <a href="{{ url_for('adminpage') }}" class="top_links_styling">Go to admin page</a>

    {% else %}

    {% endif %}
</body>
</html>